.content-tab {
    padding-top: 2rem;
    margin-left: 5.5rem;
}

.tab-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.tab-header h2 {
    color: var(--text-primary);
    font-size: 1.8rem;
    font-weight: 600;
}