/* Messages Container */
.messages-container {
    display: flex;
    height: calc(100vh - 80px);
    background-color: var(--background-color);
}

.main-content {
    margin-top: 0px;
    min-height: calc(100vh - 80px);
    margin-bottom: 0PX;
}