.nav-container {
    display: inline-flexbox;
    height: 0px;
    width: 100px;
    margin-left: 92.1%;
}

.nav-btn {
    display: flexbox;
    padding: 0.75rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--text-secondary);
    cursor: pointer;
    transition: var(--transition);
    font-size: 1.2rem;
}

.nav-btn:hover {
    background-color: var(--hover-color);
    color: var(--text-primary);
}

.nav-btn.active {
    background-color: var(--primary-color);
    color: white;
}
